header{
    background-color: rgb(178, 17, 17);
    padding: 20px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

nav ul {
display: flex;
justify-content: space-around;
list-style-type: none;
}


nav a{
    margin: 10PX;
    text-decoration: none;
}

.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}


 .pic{
    border-radius: 35px;
    margin: 10px;
}